/* Landing.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: white;
  color: #000000;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.home-header {
  flex: 0 0 auto;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-top-section {
  margin-top: 250px; /* Add margin to create space between top section and body */
  margin-bottom: 150px;
}
